<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twig</title>
</head>
<body>

{% if 1 != 2 %}
  1 != 2
{% endif %}
{% if not x %}
	x
{% endif %}
{% if six is sameas(6) %}
	<h1>YES</h1>
{% endif %}
{% if number is divisibleby(4) %}
	<h1>OK</h1>
{% else %}
	 <h1>NO</h1>
{% endif %}
{% for item in 'a'..'w' %}
    <span>{{item}}</span>
{% endfor %}
<hr>
{% for item in 1..10 if item is even %}
    <span>#{{loop.index0}}.{{item}}</span>
{% endfor %}
<hr>
{% for item in 1..10 %}
    <span>#{{loop.revindex}}.{{item}}</span>
{% endfor %}
{% do 1+1 %}

{% spaceless %}
    <h1>hello world!!   </h1>
    <b>bye</b>
{% endspaceless %}

{% filter raw %}
<h1>hello world</h1>
{% endfilter %}

{% filter e %}
<h1>Hello!!!</h1>
{% endfilter %}


{{x|upper }}

//join filters

<hr>
{{ [1,2,3] | join(',') }}
<hr>
// number of filters allowed (upper|lower)
	{% set x = 'world' %}
	<h1>Hello, {{x}}!</h1>
	<h1>Hello, {{x}}!</h1>
	<h1>Hello, {{x}}!</h1>
		{{a[0]}}
		{{a[1]}}
		{{a.prop}}

<hr>
{{a|length}}
<table width = "100%" border="1">
	
{% for row in [1,2,3,4,5,6,7,8,9,10,11,12,13] | batch(3,0) %}
	<tr>
		{% for item in row %}
		    <td>{{item}}</td>
		{% endfor %}		
	</tr>
{% endfor %}
</table>


	<ul>
		{% for item in [1,2,3,4,5,6,7,8,9,10] %}
		    <li>{{item}}{{cycle(['first','second', 'third'], loop.index0)}}</li>
		{% endfor %}
	</ul>

	
</body>
</html>